<!DOCTYPE html>
<html>
<head>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Macro</title>


    <link rel="stylesheet" href={{ asset("css/bootstrap.css") }}>
    <link rel="stylesheet" href={{ asset("css/linearicons.css") }}>
    <link rel="stylesheet" href={{ asset("css/font-awesome.min.css") }}>
    <link rel="stylesheet" href={{ asset("css/bootstrap.css") }}>
    <link rel="stylesheet" href={{ asset("css/magnific-popup.css") }}>
    <link rel="stylesheet" href={{ asset("css/jquery-ui.css") }}>
    <link rel="stylesheet" href={{ asset("css/nice-select.css") }}>
    <link rel="stylesheet" href={{ asset("css/animate.min.css") }}>
    <link rel="stylesheet" href={{ asset("css/owl.carousel.css") }}>
    <link rel="stylesheet" href={{ asset("css/main.css") }}>
    <link rel="stylesheet" href={{ asset("css/feuille.css") }}>


    <link href="https://fonts.googleapis.com/css?family=Mandali&display=swap" rel="stylesheet">
    <script  href="{{ asset('js/jquery.js') }}"></script>
    <script  href="{{ asset('js/bootstrap.min.js') }}"></script>
    <script  href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script href={{ asset("js/feuille.js") }}></script>


</head>

{% include ('inc/nav.html.twig') %}

{% include 'inc/header.html.twig' %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% block main %}{% endblock %}





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#<script href={{ asset("js/vendor/jquery-2.2.4.min.js") }}></script>#}
{#<script href={{ asset("js/popper.min.js") }}></script>#}
{#<script href={{ asset("js/vendor/bootstrap.min.js") }}></script>#}
{#<script href={{ asset("js/jquery-ui.js") }}></script>#}
{#<script href={{ asset("js/easing.min.js") }}></script>#}
{#<script href={{ asset("js/hoverIntent.js") }}></script>#}
{#<script href={{ asset("js/superfish.min.js") }}></script>#}
{#<script href={{ asset("js/jquery.ajaxchimp.min.js") }}></script>#}
{#<script href={{ asset("js/jquery.magnific-popup.min.js") }}></script>#}
{#<script href={{ asset("js/jquery.nice-select.min.js") }}></script>#}
{#<script href={{ asset("js/owl.carousel.min.js") }}></script>#}
{#<script href={{ asset("js/isotope.pkgd.min.js") }}></script>#}
{#<script href={{ asset("js/mail-script.js") }}></script>#}
{#<script href={{ asset("js/main.js") }}></script>#}
{#<script href={{ asset("js/custom.js") }}></script>#}
{#<script href={{ asset("js/easing.min.js") }}></script>#}
{#<script href={{ asset("js/jquery.nav.js") }}></script>#}
{#<script href={{ asset("js/jquery-1.11.0.min.js") }}></script>#}



<script href="{{ asset('js/vendor/jquery.js') }}"></script>
<script href="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
<script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script href={{ asset("js/feuille.js") }}></script>
<script href={{ asset("js/main.js") }}></script>

<div class="jumbotronBis jumbotron-fluid">
    <footer>{% include ('inc/footer.html.twig') %}</footer>
</div>
</body>

</html>





